:root {
    /* Main color palette */
    --asvang-primary: #317873;
    --asvang-dark: #0a0908;
    --asvang-light: #f2f4f3;
    --asvang-red: #fe4a49;
    --asvang-purple: #4f4789;
}

.asvang-bg-primary {
    background-color: var(--asvang-primary);
}

.asvang-bg-dark {
    background-color: var(--asvang-dark);
}

.asvang-bg-light {
    background-color: var(--asvang-light);
}

.asvang-bg-red {
    background-color: var(--asvang-red);
}

.asvang-bg-purple {
    background-color: var(--asvang-purple);
}

.asvang-text-primary {
    color: var(--asvang-primary);
}

.asvang-text-dark {
    color: var(--asvang-dark);
}

.asvang-text-light {
    color: var(--asvang-light);
}

.asvang-text-red {
    color: var(--asvang-red);
}

.asvang-text-purple {
    color: var(--asvang-purple);
}

